.menu{
  
  width:inherit;
}

.collapsible {
  color: white;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  /* z-index: 10; */
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 5px; 
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: opacity .3s ease-in-out;
}

.noncollapsible{
  color: white;
  cursor: pointer;
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.8em;
}

.noncollapsible:hover {
  background-color: #555;
}

.viewing{
  background-color: #555;
}

.l1{background-color: #111;}

.l2{background-color: #222;}

.l3{background-color: #333;}

.l4{background-color: #444;}